SUBMITTED BY- 
HEMANTH SANKAR P
NATIONAL INSTITUTE OF TECHNOLOGY CALICUT

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("state-wise-crop-production-India.csv")

In [4]:
data.head

<bound method NDFrame.head of                              State  Year        Crop      Area  Production
0      Andaman and Nicobar Islands  2000    Arecanut    4354.0      7200.0
1      Andaman and Nicobar Islands  2000      Banana    1707.0     12714.0
2      Andaman and Nicobar Islands  2000   Cashewnut     800.0       219.0
3      Andaman and Nicobar Islands  2000    Coconut    25160.0  89000000.0
4      Andaman and Nicobar Islands  2000  Dry ginger     388.0      1220.0
...                            ...   ...         ...       ...         ...
10699                  West Bengal  2013   Sugarcane   17021.0   1945042.0
10700                  West Bengal  2013   Sunflower    6434.0      8717.0
10701                  West Bengal  2013     Tobacco   12570.0     22287.0
10702                  West Bengal  2013        Urad   70052.0     48810.0
10703                  West Bengal  2013       Wheat  331481.0    927837.0

[10704 rows x 5 columns]>

In [5]:
data.count()

State         10704
Year          10704
Crop          10704
Area          10704
Production    10704
dtype: int64

In [6]:
data

                             State  Year        Crop      Area  Production
0      Andaman and Nicobar Islands  2000    Arecanut    4354.0      7200.0
1      Andaman and Nicobar Islands  2000      Banana    1707.0     12714.0
2      Andaman and Nicobar Islands  2000   Cashewnut     800.0       219.0
3      Andaman and Nicobar Islands  2000    Coconut    25160.0  89000000.0
4      Andaman and Nicobar Islands  2000  Dry ginger     388.0      1220.0
...                            ...   ...         ...       ...         ...
10699                  West Bengal  2013   Sugarcane   17021.0   1945042.0
10700                  West Bengal  2013   Sunflower    6434.0      8717.0
10701                  West Bengal  2013     Tobacco   12570.0     22287.0
10702                  West Bengal  2013        Urad   70052.0     48810.0
10703                  West Bengal  2013       Wheat  331481.0    927837.0

[10704 rows x 5 columns]

In [7]:
data["State"].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [8]:
States=data["State"].unique()

In [9]:
len(States)

33

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       10704 non-null  object
 1   Year        10704 non-null  int64
 2   Crop        10704 non-null  object
 3   Area        10704 non-null  float64
 4   Production  10704 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 418.2+ KB

In [11]:
crops=data["Crop"].unique()
crops

array(['Arecanut', 'Banana', 'Cashewnut', 'Coconut ', 'Dry ginger',
       'Other Kharif pulses', 'other oilseeds', 'Rice', 'Sugarcane',
       'Sweet potato', 'Tapioca', 'Black pepper', 'Dry chillies',
       'Turmeric', 'Arhar/Tur', 'Groundnut', 'Maize', 'Moong(Green Gram)',
       'Sunflower', 'Urad', 'Bajra', 'Castor seed', 'Coriander',
       'Cotton(lint)', 'Gram', 'Horse-gram', 'Jowar', 'Korra', 'Linseed',
       'Mesta', 'Niger seed', 'Onion', 'Other  Rabi pulses',
       'other misc. pulses', 'Potato', 'Ragi', 'Rapeseed &Mustard',
       'Safflower', 'Samai', 'Sesamum', 'Small millets', 'Tobacco',
       'Varagu', 'Wheat', 'Beans & Mutter(Vegetable)', 'Bhindi',
       'Bottle Gourd', 'Brinjal', 'Cabbage', 'Citrus Fruit', 'Cucumber',
       'Grapes', 'Mango', 'Orange', 'other fibres', 'Other Fresh Fruits',
       'Other Vegetables', 'Papaya', 'Peas  (vegetable)', 'Pome Fruit',
       'Soyabean', 'Tomato', 'Garlic', 'Ginger', 'Cowpea(Lobia)', 'Lemon',
       'Pome Granet', 'Sapota', 'Sannhamp', 'Oilseeds total',
       'Pulses total', 'Jute', 'Masoor', 'Peas & beans (Pulses)',
       'Pineapple', 'Blackgram', 'Paddy', 'Barley', 'Khesari',
       'Guar seed', 'Moth', 'Other Cereals & Millets', 'Carrot', 'Redish',
       'Turnip', 'Cardamom', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Coffee', 'Rubber', 'Tea',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Kapas', 'Bean', 'Colocosia', 'Jobster', 'Lentil', 'Perilla',
       'Rajmash Kholar', 'Ricebean (nagadal)', 'Apple', 'Ash Gourd',
       'Beet Root', 'Ber', 'Lab-Lab', 'Litchi', 'Peach', 'Pear', 'Plums',
       'Ribed Guard', 'Yam', 'Other Dry Fruit', 'Jute & mesta'],
      dtype=object)

In [12]:
len(crops)

122

In [13]:
data

                             State  Year        Crop      Area  Production
0      Andaman and Nicobar Islands  2000    Arecanut    4354.0      7200.0
1      Andaman and Nicobar Islands  2000      Banana    1707.0     12714.0
2      Andaman and Nicobar Islands  2000   Cashewnut     800.0       219.0
3      Andaman and Nicobar Islands  2000    Coconut    25160.0  89000000.0
4      Andaman and Nicobar Islands  2000  Dry ginger     388.0      1220.0
...                            ...   ...         ...       ...         ...
10699                  West Bengal  2013   Sugarcane   17021.0   1945042.0
10700                  West Bengal  2013   Sunflower    6434.0      8717.0
10701                  West Bengal  2013     Tobacco   12570.0     22287.0
10702                  West Bengal  2013        Urad   70052.0     48810.0
10703                  West Bengal  2013       Wheat  331481.0    927837.0

[10704 rows x 5 columns]

In [14]:
prod=data["Production"]
prod

0            7200.0
1           12714.0
2             219.0
3        89000000.0
4            1220.0
            ...
10699     1945042.0
10700        8717.0
10701       22287.0
10702       48810.0
10703      927837.0
Name: Production, Length: 10704, dtype: float64

In [15]:
max(prod)

6326000000.0

QUESTION 1

In [51]:
means = data.groupby(data["Crop"]).mean()
means

          State         Year          Area    Production
Crop
0     27.000000  2002.500000  4.500000e+00  0.000000e+00
1     14.000000  2002.000000  1.441160e+05  1.928310e+05
2     14.120000  2006.280000  4.963545e+04  1.674254e+05
3     17.016949  2006.267797  1.545573e+05  1.060493e+05
4     27.000000  2002.500000  8.220000e+02  0.000000e+00
...         ...          ...           ...           ...
117   16.449275  2006.205797  1.084402e+06  3.136744e+06
118   27.000000  2002.500000  8.875000e+02  0.000000e+00
119   18.000000  2002.333333  4.212667e+03  0.000000e+00
120   10.800000  2001.800000  6.168600e+03  1.940844e+03
121   19.160714  2005.750000  3.888168e+04  6.003707e+04

[122 rows x 4 columns]

QUESTION 2

In [16]:
m=data[data["Production"]== max(prod)]
m

       State  Year      Crop      Area    Production
4651  Kerala  2005  Coconut   897833.0  6.326000e+09

In [17]:
m["Crop"]

4651    Coconut
Name: Crop, dtype: object

QUESTION 4

In [18]:
Crop_name="Wheat"
w=data[(data["Crop"]== Crop_name)]
l=w[w["Production"]==max(w["Production"])]
l["State"]

9692    Uttar Pradesh
Name: State, dtype: object

In [19]:
from sklearn import preprocessing
s = preprocessing.LabelEncoder()

In [20]:
s.fit(data["State"].unique())
data["State"]=s.fit_transform(data["State"])

In [21]:
s.fit(data["Crop"].unique())
data["Crop"]=s.fit_transform(data["Crop"])

In [22]:
data

       State  Year  Crop      Area  Production
0          0  2000     2    4354.0      7200.0
1          0  2000     7    1707.0     12714.0
2          0  2000    22     800.0       219.0
3          0  2000    28   25160.0  89000000.0
4          0  2000    37     388.0      1220.0
...      ...   ...   ...       ...         ...
10699     32  2013   105   17021.0   1945042.0
10700     32  2013   106    6434.0      8717.0
10701     32  2013   110   12570.0     22287.0
10702     32  2013   114   70052.0     48810.0
10703     32  2013   117  331481.0    927837.0

[10704 rows x 5 columns]

QUESTION 5

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x=data[["State","Year","Crop","Area"]]
y=data["Production"]

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.6, random_state=42)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
LR = LinearRegression()

LR.fit(x_train,y_train)

LinearRegression()

In [28]:
y_prediction =  LR.predict(x_test)
y_prediction

array([21210783.50262022, 12816735.65363121, 39265460.30021346, ...,
       19799162.48972416, 12344764.8551836 , -7916116.16452801])

In [29]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
regressor.fit(x_test, y_test)

RandomForestRegressor(random_state=0)

In [30]:
Y_pred = regressor.predict(x_test) 
Y_pred

array([1.68522000e+05, 1.77386023e+06, 1.47276182e+06, ...,
       2.60944880e+05, 1.15833300e+03, 4.66757600e+04])

In [31]:
print("Please enter state")
state=input()

Please enter state
Karnataka

In [32]:
state=s.fit_transform([state])

In [33]:
print("Please enter year")
year=int(input())

Please enter year
2014

In [49]:
crops

array(['Arecanut', 'Banana', 'Cashewnut', 'Coconut ', 'Dry ginger',
       'Other Kharif pulses', 'other oilseeds', 'Rice', 'Sugarcane',
       'Sweet potato', 'Tapioca', 'Black pepper', 'Dry chillies',
       'Turmeric', 'Arhar/Tur', 'Groundnut', 'Maize', 'Moong(Green Gram)',
       'Sunflower', 'Urad', 'Bajra', 'Castor seed', 'Coriander',
       'Cotton(lint)', 'Gram', 'Horse-gram', 'Jowar', 'Korra', 'Linseed',
       'Mesta', 'Niger seed', 'Onion', 'Other  Rabi pulses',
       'other misc. pulses', 'Potato', 'Ragi', 'Rapeseed &Mustard',
       'Safflower', 'Samai', 'Sesamum', 'Small millets', 'Tobacco',
       'Varagu', 'Wheat', 'Beans & Mutter(Vegetable)', 'Bhindi',
       'Bottle Gourd', 'Brinjal', 'Cabbage', 'Citrus Fruit', 'Cucumber',
       'Grapes', 'Mango', 'Orange', 'other fibres', 'Other Fresh Fruits',
       'Other Vegetables', 'Papaya', 'Peas  (vegetable)', 'Pome Fruit',
       'Soyabean', 'Tomato', 'Garlic', 'Ginger', 'Cowpea(Lobia)', 'Lemon',
       'Pome Granet', 'Sapota', 'Sannhamp', 'Oilseeds total',
       'Pulses total', 'Jute', 'Masoor', 'Peas & beans (Pulses)',
       'Pineapple', 'Blackgram', 'Paddy', 'Barley', 'Khesari',
       'Guar seed', 'Moth', 'Other Cereals & Millets', 'Carrot', 'Redish',
       'Turnip', 'Cardamom', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Coffee', 'Rubber', 'Tea',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Kapas', 'Bean', 'Colocosia', 'Jobster', 'Lentil', 'Perilla',
       'Rajmash Kholar', 'Ricebean (nagadal)', 'Apple', 'Ash Gourd',
       'Beet Root', 'Ber', 'Lab-Lab', 'Litchi', 'Peach', 'Pear', 'Plums',
       'Ribed Guard', 'Yam', 'Other Dry Fruit', 'Jute & mesta'],
      dtype=object)

In [37]:
print ("Please enter crop from the list of crops")
crop=[input()]

Please enter crop from the list of crops
Rice

In [38]:
crop=s.fit_transform([crop])

c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [39]:
print("Please enter area")
area=float(input())

Please enter area
100000.45

In [40]:
type(crop)

numpy.ndarray

In [41]:
x_test=[[state,year,crop,area]]
y_prediction =  LR.predict(x_test)
y_prediction

c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

array([36234260.78018856])

In [42]:
x_test=[[state,year,crop,area]]
Y_pred = regressor.predict(x_test) 
Y_pred

array([1.37931869e+08])

In [43]:
data["State"][1]

0